  <div class="place-info-box">
      <span class="menu-item-info-box-icon">
        <img src="../../../assets/cover-page1.png">
      </span>
    <div class="place-info-box-content">
        <span class="place-info-box-text">{{book.title}}</span>
        <span class="place-info-box-star"><i class="fa fa-star"></i> {{book.rating}}</span>
        <span class="place-info-box-detail">{{book.user}}</span>
        <span class="place-info-box-detail">Price: {{book.price}}</span>
        <span class="place-info-box-detail">Year Published: {{book.yearPublished}}</span>
      </div>
  </div>